/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  max-height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

nav {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  text-align: center;
  margin: 40px 140px;
}

main {
  text-align: center;
}

.titre-rouge {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700px;
  font-size: 11px;
  color: white;
  background: #e62a1b;
  border-radius: 50px;
  margin-top: 28px;
  margin-right: 100px;
  margin-left: 100px;
}

h1 {
  font-family: "Sort Mill Goudy", serif;
  font-weight: 400px;
  font-size: 24px;
  margin: 28px 65px 35px 65px;
}

p {
  font-family: "Sort Mill Goudy", serif;
  font-weight: 400px;
  font-size: 16px;
  margin-right: 41px;
  margin-left: 41px;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700px;
  font-size: 16px;
  margin: 44px 212px 26px 212px;
}

h3 {
  font-family: "Sort Mill Goudy", serif;
  font-weight: 700px;
  font-size: 20px;
  margin-right: 200px;
}

a {
  color: inherit;
}

div {
  background: #ebede7;
}

.figcaption {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: black;
  background: white;
  padding: 44px 57px;
}

footer {
  color: white;
  background: black;
  padding: 61px 350px 57px 32px;
}

footer,
p {
  font-family: "Sort Mill Goudy", serif;
  font-weight: 400px;
  font-size: 20px;
}

footer,
li {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
